:host{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    color: #666;
    box-sizing: border-box;
    widows: 100%;
}
span{
    cursor: pointer;
}
.glyphicon{
    margin-right: 4;
    margin-left: 8px;
    top: 1;
    font-size: 14px;
}
:host:not(.parent-is-popup) {
    margin-left: 16px;
    width: auto;
}